<!DOCTYPE html> <!-- SRM -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- SRM -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/fleuron_transparent_icon.ico' %}"/>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- SRM -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ramble - Write, Read, Curate</title>


    <script>
    function delete_post(post_id)
    {
        if (!confirm("Are you sure you want to delete this post?")){
            return;
        }

        var deleted_post_div = document.getElementById("post_"+post_id);
        deleted_post_div.style.opacity=0.5;
        deleted_post_div.style.height=deleted_post_div.clientHeight+'px';
        data = {
            post_id: post_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'delete_a_ramble' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)

            if (this.readyState == 4) {
                deleted_post_div.style.opacity=0;
                setTimeout(function(){
                    deleted_post_div.style.height=0;
                }, 1000)
                //$("html").html(this.responseText);
                document.open();
                document.write(this.responseText);
                document.close();
                window.history.pushState("index", "title", "/index")
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }
    function delete_draft(draft_id)
    {
        if (!confirm("Are you sure you want to delete this draft?")){
            return;
        }

        var deleted_draft_div = document.getElementById("draft_"+draft_id);
        deleted_draft_div.style.opacity=0.5;
        deleted_draft_div.style.height=deleted_draft_div.clientHeight+'px';
        data = {
            draft_id: draft_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'delete_a_ramble' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)

            if (this.readyState == 4) {
                deleted_draft_div.style.opacity=0;
                setTimeout(function(){
                    deleted_draft_div.style.height=0;
                }, 1000)
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }
    function convert_post(post_id)
    {
     
        var convert_post_div = document.getElementById("post_"+post_id);
        
        data = {
            post_id: post_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'convert_a_ramble' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)

            if (this.readyState == 4) {
                console.log("Converted post to draft")
                setInterval('location.reload()', 5000);
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }

    function like_post(post_id)
    {
        var post_div = document.getElementById("post_"+post_id);
        if (document.getElementById("like_"+post_id).src.endsWith("{% static 'images/liked_button.png' %}"))
        {
            console.log("unliking...");
            document.getElementById("like_"+post_id).src = "{% static 'images/like_button.png' %}";
        }
        else
        {
            document.getElementById("like_"+post_id).src = "{% static 'images/liked_button.png' %}";
        }

        data = {
            post_id: post_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'like_a_ramble' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState);
            $('#like_count').load(document.URL +  ' #like_count');
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }
    function hide_post(post_id)
    {
        var hide_div = document.getElementById("hide_"+post_id);
        if (document.getElementById("hide_"+post_id).src.endsWith("{% static 'images/unhide.png' %}"))
        {
            console.log("unhiding...");
            document.getElementById("hide_"+post_id).src = "{% static 'images/hide.png' %}";
        }
        else
        {
            document.getElementById("hide_"+post_id).src = "{% static 'images/unhide.png' %}";    
        }

        data = {
            post_id: post_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'hide_a_ramble' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)
            //setInterval('location.reload()', 3000);            
            document.getElementById("post_"+post_id).style.display = "none";
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }

    function amplify_post(post_id)
    {
        var amplify_div = document.getElementById("amplify_"+post_id);
        var amp_count = 0 ;
        if (document.getElementById("amplify_"+post_id).src.endsWith("{% static 'images/amplified_button.png' %}"))
        {
            console.log("unamplifying...");
            document.getElementById("amplify_"+post_id).src = "{% static 'images/amplify_button.png' %}";
            amp_count = -1; 
        }
        else
        {   
            document.getElementById("amplify_"+post_id).src = "{% static 'images/amplified_button.png' %}";    
            amp_count = 1;
        }
        console.log("amp_count");
        console.log(amp_count);
        data = {
            post_id: post_id,
            amp_count : amp_count           
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'amplify_a_ramble' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState) 
            //setInterval('location.reload()', 2000);
            $('#amplify_div').load(document.URL +  ' #amplify_div');
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }

    function follow_user(user_id)
    {
        var getId = document.getElementById("useradd_" + user_id);
        var imagePath = $('.imagePath');

        if (document.getElementById("useradd_" + user_id).src.endsWith("{% static 'images/follows.png' %}")) {
            console.log("unfollowing...");
            imagePath.attr('src', imagePath.attr('src').replace("{% static 'images/follows.png' %}", "{% static 'images/follow.png' %}"));
        }
        else {
            console.log("following...");
            imagePath.attr('src', imagePath.attr('src').replace("{% static 'images/follow.png' %}", "{% static 'images/follows.png' %}"));
        }
        data = {
            user_id: user_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'follow_a_user' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function (response) {
            console.log(response, this.status, this.readyState);
            if (this.status != 204 || this.status !=200) {
                if (document.getElementById("useradd_" + user_id).src.endsWith("{% static 'images/follow.png' %}")) {
                    console.log("unfollowing...");
                    imagePath.attr('src', imagePath.attr('src').replace("{% static 'images/follow.png' %}", "{% static 'images/follows.png' %}"));
                }
                else {
                    console.log("following...");
                    imagePath.attr('src', imagePath.attr('src').replace("{% static 'images/follows.png' %}", "{% static 'images/follow.png' %}"));
                }
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }

    function openModalLikes(post_id)
    {
        modalLikes.style.display = "block"
        modalLikesInner.innerHTML = "Loading..."
        ajax_get("{% url 'likes_get' 123456 %}".replace('123456', post_id) , false, function(responseText) {
            modalLikesInner.innerHTML = responseText
        })
        return false
    }

    function keypressed_collect(event) 
    {
        console.log(event)
        if (event.keyCode == 13) {
            var collection_name = document.getElementById("new_collection");
             if (collection_name.value == '' ) { 
                 collection_name.value = "Uncategorised"
             }
             data = {
                collection_name: collection_name.value,
                collection_desc: '',
            }
            var ajax = new XMLHttpRequest()
            ajax.open("POST", "{% url 'create_collection' %}")
            ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
            ajax.onreadystatechange = function(response) {
                console.log(response, this.status, this.readyState)
                if (this.readyState == 4) {
                    var json = JSON.parse(this.responseText);
                    new_button = document.createElement('button')
                    new_button.setAttribute('id', 'collection_' + json.id)
                    imgsrc = "{% static 'images/collect.png' %}"
                    imgsrcCollected = "{% static 'images/collected.png' %}"
                    new_button.innerHTML = '<img src="' + imgsrc + '" width="20px"/>' + json.name
                    colls = document.getElementById('all_collections')
                    colls.insertBefore(new_button, colls.firstChild)
                    collId = $('#modalCollectInner').children("#all_collections").children('#' + "collection_" + json.id).attr("id");
                    coll = $('#modalCollectInner').children("#all_collections").children('#' + "collection_" + json.id).children();
                    collSrc = $('#modalCollectInner').children("#all_collections").children('#' + "collection_" + json.id).children().attr("src");
                    console.log(collId);
                    console.log(collSrc);
                    $('#' + collId).on("click", function () {
                        console.log("key press colleciton click" + coll.src);
                        if (coll.attr("src").endsWith(imgsrcCollected)) {
                            console.log("un-collecting");
                            $('#modalCollectInner').children("#all_collections").children('#' + "collection_" + json.id).children().attr("src", imgsrc);
                            console.log($(coll).attr("src"));
                        } else {
                            console.log("collecting");
                            $('#modalCollectInner').children("#all_collections").children('#' + "collection_" + json.id).children().attr("src", imgsrcCollected);
                            console.log($(coll).attr("src"));
                        }
                        $.ajax({
                            complete: function () {
                                
                            }
                        });
                    });
                }
            }
            var formData = new FormData()
            for (var i in data)
                formData.append(i, data[i]);
            ajax.send(formData)
        }
    }

    function block_user(profile_user, button_block_user_id) { 
        var block_img = document.getElementById("block_"+profile_user);

        if (document.getElementById("block_"+profile_user).src.endsWith("{% static 'images/blocked_button.png' %}"))
        {
            console.log("unblocking..");
            document.getElementById("block_"+profile_user).src = "{% static 'images/block_button.png' %}";
        }
        else
        {
            document.getElementById("block_"+profile_user).src = "{% static 'images/blocked_button.png' %}";
        }

        data = {
            profile_user : profile_user
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'block_user' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)
            
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }
    function mute_user(profile_user, button_mute_user_id) { 
        var mute_img = document.getElementById("mute_"+profile_user);

        if (document.getElementById("mute_"+profile_user).src.endsWith("{% static 'images/muted_user.png' %}"))
        {
            console.log("unmuting..");
            document.getElementById("mute_"+profile_user).src = "{% static 'images/mute_user.png' %}";
        }
        else
        {
            document.getElementById("mute_"+profile_user).src = "{% static 'images/muted_user.png' %}";
        }

        data = {
            profile_user : profile_user
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'mute_user' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)
            
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    } 

    function collect_post(post_id)
    {
        modalCollect.style.display = "block"
        modalCollectInner.innerHTML = "Loading..."
        ajax_get("{% url 'mycollections' 123456 %}".replace('123456', post_id), true, function(responseText) {
            modalCollectInner.innerHTML = responseText
        })
        return false
    }

    function post_to_collection(collection_id, post_id)
    {
        user_comments = prompt("Any nice thing to say about this piece?");
        if (user_comments == null ) { 
            return false;
        }
        collId = $('#modalCollectInner').children("#all_collections").children('#'+ "each_collection_"+collection_id).children('#'+ "collection_"+collection_id).children().attr("id");
        collSrc = $('#modalCollectInner').children("#all_collections").children('#'+ "each_collection_"+collection_id).children('#'+ "collection_"+collection_id).children().attr("src");
        if (collSrc.endsWith("{% static 'images/collected.png' %}")) {
            console.log("un-collecting post_to_collection");   
            $('#modalCollectInner').children("#all_collections").children('#'+ "each_collection_"+collection_id).children('#'+ "collection_"+collection_id).children().attr("src", "{% static 'images/collect.png' %}");    
        } else { 
            console.log("collecting post_to_collection");     
            $('#modalCollectInner').children("#all_collections").children('#'+ "each_collection_"+collection_id).children('#'+ "collection_"+collection_id).children().attr("src",  "{% static 'images/collected.png' %}");
        }
        data = {
            collection_id: collection_id, 
            post_id: post_id, 
            user_comments: user_comments,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'add_to_collection' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function (response) {
            console.log(response, this.status, this.readyState);
            if (this.readyState == 4 && (this.status != 200 || response.target.response != 204)) {
                collId = $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("id");
                console.log("Inside post_to_collection error state")
                collSrc = $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("src");
                if (collSrc.endsWith("{% static 'images/collect.png' %}")) {
                    console.log("collecting error part of post_to_collection");
                    $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("src", "{% static 'images/collected.png' %}");
                } else {
                    console.log("un-collecting error part of post_to_collection");
                    $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("src", "{% static 'images/collect.png' %}");
                }
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)
    }

    function click_private_collection(collection_id) {
        pri_coll_id = 'private_collection_checkbox_'+collection_id;
        
        if ( $( '#pri_coll_id' ).is(':checked') ) { 
            $( "#pri_coll_id" ).prop( "checked", false );
            console.log("HELLO") 

        } else { 
        $( "#pri_coll_id" ).prop( "checked", true );
        console.log("HELLO 1") 
        data = {
            collection_id: collection_id, 
            collection_status: 1
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'private_collections' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)
        }
    }
    

    function ajax_get(url, add_csrf, callback)
    {
        var ajax = new XMLHttpRequest()
        ajax.open("GET", url)
        if (add_csrf) 
        {
            ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        }
        ajax.onreadystatechange = function(response)
        {
            if (this.readyState==4) 
            {
                callback(this.responseText)
            }
        }
        ajax.send()
    }


    </script>
    </head>
<body style="margin:0">

<div class="header">
    <div> 
        <a href="{% url 'index' %}">
            <img class="headerimg" src="{% static 'images/fleuron_header_reverse_transparent.png' %}" width=300px"
                 style="margin-right:5px;margin-top:5px;background-color:#fcfcfc"/>
    </a>
    <div style="float: right ;padding-right: 20px; margin-top: 20px;">
        <a href="{% url 'contact_us' %}" style="color: black;"><i class="fa fa-envelope" style="color: black;"></i> Contact</a> 
    </div>       
      
</div>
   
    <div style="float: right;">
        {% if user.username %}
        <div style="text-align:right; font-size:small">
            <form method="POST" action="{% url 'search_results' %}">
                {% csrf_token %}
                <input class="search" type="text" name="search_ramble" placeholder="Search Ramble">
            </form>
            <p>
        {% if user_profile.full_name %}
                    Hello <a href="../u/{{ user.id }}"> {{ user_profile.full_name }}! </a>
                {% else %}
                    Hello <a href="../u/{{ user.id }}"> {{ user.username }}! </a> 
                {% endif %}
                &nbsp; &nbsp;
                <img src="{{ user_profile.profile_pic.url }}" width="20px"/>
                <a href="{% url 'logout' %}"><button style="font-size:small">Logout</button></a>
             </p>
        
        </div>
    {% else %}

  
       <a href="{% url 'signup_in' %}"><button id="signupbtn" >Sign Up/In</button></a>
    {% endif      %}
    
         
    </div>
    <!-- <table>
        <tr>
            <td>
                <a href="{% url 'index' %}">
                        <img class="headerimg" src="{% static 'images/fleuron_header_reverse_transparent.png' %}" width=300px"
                             style="margin-right:5px;margin-top:5px;background-color:#fcfcfc"/>
                </a>
            </td>
            <td style="text-align:right">
                {% if user.username %}
                    <div style="text-align:right; font-size:small">
                        <p>
			 {% if user_profile.full_name %}
                                Hello <a href="../u/{{ user.id }}"> {{ user_profile.full_name }}! </a>
                            {% else %}
                                Hello <a href="../u/{{ user.id }}"> {{ user.username }}! </a> 
                            {% endif %}
                            &nbsp; &nbsp;
                            <img src="{{ user_profile.profile_pic.url }}" width="20px"/>
                            <a href="{% url 'logout' %}"><button style="font-size:small">Logout</button></a>
                         </p>
                    </div>
                {% else %}
                    <a href="{% url 'social:begin' 'twitter' %}">
                        <Button style="padding:10px;font-size:20px">
                            <img src="{% static 'images/twitter_white.png' %}" width="18px" height="18px">
                            &nbsp Login with Twitter
                        </Button>
                    </a>
                {% endif %}
            </td>
        </tr>
    </table> -->
</div>
<div class="container, m-5" >
{% block postman_menu %}
{% endblock %}
{% block content %}
{% endblock %}
</div>
<div class="container" id=modalLikes onclick="if (event.target==this) {this.style.display='none'}" style="display:none;position:fixed;top:0;height:100vh;left:0;width:100vw;
background:rgba(100,100,100,0.5);">
    <div id=modalLikesInner style="position:fixed;top:30vh;height:40vh;left:30vw;width:40vw;
background:white;box-shadow:1px 1px 10px #888; border-radius:8px;overflow-y:scroll">
    </div>
</div>
<div class="container" id=modalCollect onclick="if (event.target==this) {this.style.display='none'}" style="display:none;position:fixed;top:0;height:100vh;left:0;width:100vw;
background:rgba(100,100,100,0.5);">
    <div id=modalCollectInner style="position:fixed;top:30vh;height:40vh;left:30vw;width:40vw;
background:white;box-shadow:1px 1px 10px #888; border-radius:8px;overflow-y:scroll">
    </div>
</div>
</div>

</html>