<!DOCTYPE html> <!-- SRM -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- SRM -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/fleuron_transparent_icon.ico' %}"/>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ramble - Write, Read, Curate</title>

    <script
    src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
    referrerpolicy="origin">
</script>
<style> 

#displaytmce { 
    float: right;
    padding-right: 20px;
    margin-right: 10px;
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
 }
</style>
<script>
    $( function() {
      var availableTags = [
        "Fiction",
        "Action and Adventure",
        "Crime and Mystery",
        "Non-Fiction",
        "Fantasy",
        "Horror",
        "Romance",
        "Science Fiction",
        "Biography",
        "Self-help",
        "Travel"
      ];
    $( "#rambleForm #new_ramble_tags" ).autocomplete({
        source: availableTags
      });
    } );
    </script>
<script>
    function getStats(id) 
    {
        var body = tinymce.get(id).getBody(), text = tinymce.trim(body.innerText || body.textContent);
        return text.length
    }

    tinymce.PluginManager.add('charactercount', function (editor) 
    {
        var self = this;

        function update() 
        {
            editor.theme.panel.find('#charactercount').text(['Characters: {0}', self.getCount()]);
        }
        editor.on('init', function () 
        {
            var statusbar = editor.theme.panel && editor.theme.panel.find('#statusbar')[0];
            if (statusbar) 
            {
                window.setTimeout(function () 
                {
                    statusbar.insert({
                        type: 'label',
                        name: 'charactercount',
                        text: ['Characters: {0}', self.getCount()],
                        classes : 'charactercount',
                        disabled: editor.settings.readonly
                    }, 0);

                    editor.on('setcontent beforeaddundo', update);

                    editor.on('keyup', function (e) 
                    {
                        update();
                    });
                }, 0);
            }
        });

        self.getCount = function () 
        {
            var tx = editor.getContent({ format: 'raw' });
            var decoded = decodeHtml(tx);
            var decodedStripped = decoded.replace(/(<([^>]+)>)/ig, "").trim();
            var tc = decodedStripped.length;
            return tc;
        };

        function decodeHtml(html) 
        {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }
    });

    function submit_ramble(id)
    {
        num_chars = getStats(id)
        if ( num_chars > 10000) {
            alert("You have exceeded the 10,000 character limit with " + num_chars + " characters")
            return false
        } 
        if (num_chars < 1000) {
            alert("Only " + num_chars + " characters? Go on, type more. At least a 1000.")
            return false
        }
        if (id == "content") { 
            data = {
                new_ramble_title: rambleForm.new_ramble_title.value,
                new_ramble_post: tinyMCE.activeEditor.getContent(),
                new_ramble_tags: rambleForm.new_ramble_tags.value
            }
        } else { 
            data = {
                new_ramble_title: editorrambleForm.editor_new_ramble_title.value,
                new_ramble_post: tinyMCE.activeEditor.getContent(),
                new_ramble_tags: editorrambleForm.editor_new_ramble_tags.value
            }
        }
            var ajax = new XMLHttpRequest()
            ajax.open("POST", "ramblepost")
            ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
            ajax.onreadystatechange = function(response)
            {
                console.log(response, this.status, this.readyState)

                if (this.readyState == 4) {
                    window.location = "post/" + this.responseText
                }
            }

            var formData = new FormData()
            for(var i in data)
                formData.append(i, data[i]);

            ajax.send(formData)

    }
     $(document).ready(function() { 
     $("#draft").on("click", function() { 
        console.log("In save draft script");
        if ( tinyMCE.activeEditor !== null ) { 
          data = {
              new_ramble_title: new_ramble_title.value,
              new_ramble_post: tinyMCE.activeEditor.getContent(),
              new_ramble_tags: new_ramble_tags.value
          }
        }
       
        $.ajax({
            url:'save_draft',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: data,
            type: 'POST',
            success: function() {
                console.log('Saved the draft.')
                if ( tinyMCE.activeEditor !== null) { 
                  tinyMCE.activeEditor.setContent("");
                }
                $("body").load(location.href+"#body");
            }
        });
    });
     })
</script>
<script>
 function handleSave(){
	submit_ramble('content')
	$('#rambleModal').modal('toggle')
  }

    // Prevent Bootstrap dialog from blocking focusin
    document.addEventListener('focusin', function (e) { if (e.target.closest('.tox-tinymce-aux, .moxman-window, .tam-assetmanager-root') !== null) { e.stopImmediatePropagation(); } });
    
     tinymce.init({
       selector: "textarea",
       height: 300,
       plugins: [
           "advlist autolink lists link image charmap print preview anchor",
           "searchreplace visualblocks code fullscreen",
           "insertdatetime media table paste wordcount"
       ],
       toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
       setup: function(editor) {
    editor.on('init', function(e) {
           console.log('The Editor has been initialized.');
        });
    },

    init_instance_callback: function (editor) {
        $(editor.getContainer()).find('button.tox-statusbar__wordcount').click();  // if you use jQuery
        }
    });
    </script>
<script>
    /* tinymce.init({
        selector: '#new_ramble_post',
        plugins: "link charactercount",
        statusbar: true,
        init_instance_callback: function (editor) 
        {
            $('.mce-tinymce').show('fast');
            $(editor.getContainer()).find(".mce-path").css("display", "none");
        }
    }); */

    if ((screen.width && screen.height) > 600) {  
        
    tinymce.init({
        selector: '#new_ramble_post',
        //plugins: "link charactercount", //SRM
        statusbar: true,
        menubar: true,
        max_height: 150,
        max_width: 50,
        plugins: [
      'advlist autolink autosave link image lists charmap print preview hr anchor pagebreak',
      'searchreplace visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help wordcount'
    ],
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist outdent indent | link image | print preview media fullpage | ' +
      'forecolor backcolor emoticons | help ',
    toolbar_mode: 'floating',
    menu: {
      favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
    },
    menubar: 'favs file edit view insert format tools table help', 
    setup: function(editor) {
    editor.on('init', function(e) {
           console.log('The Editor has been initialized.');
        });
    },

    init_instance_callback: function (editor) {
        $(editor.getContainer()).find('button.tox-statusbar__wordcount').click();  // if you use jQuery
        }}); 
    }
    else { 
        tinymce.init({
        selector: '#new_ramble_post',
        
        mobile: {
            statusbar: true,
            menubar: true,
            plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak',
      'searchreplace visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help wordcount'],
    
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist outdent indent | link image | print preview media fullpage | ' +
      'forecolor backcolor emoticons | help ',
    menu: {
      favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
    },
    menubar: 'favs file edit view insert format tools table help',
         
    setup: function(editor) {
    editor.on('init', function(e) {
           console.log('The Editor has been initialized.');
        });
    },

    init_instance_callback: function (editor) {
        $(editor.getContainer()).find('button.tox-statusbar__wordcount').click();  // if you use jQuery
        }
        }}); 
    
    }

</script>

    <script>
    function delete_post(post_id)
    {
        if (!confirm("Are you sure you want to delete this post?")){
            return;
        }

        var deleted_post_div = document.getElementById("post_"+post_id);
        deleted_post_div.style.opacity=0.5;
        deleted_post_div.style.height=deleted_post_div.clientHeight+'px';
        data = {
            post_id: post_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'delete_a_ramble' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)

            if (this.readyState == 4) {
                deleted_post_div.style.opacity=0;
                setTimeout(function(){
                    deleted_post_div.style.height=0;
                }, 1000)
                //$("html").html(this.responseText);
                document.open();
                document.write(this.responseText);
                document.close();
                window.history.pushState("index", "title", "/index")
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }
    function delete_draft(draft_id)
    {
        if (!confirm("Are you sure you want to delete this draft?")){
            return;
        }

        var deleted_draft_div = document.getElementById("draft_"+draft_id);
        deleted_draft_div.style.opacity=0.5;
        deleted_draft_div.style.height=deleted_draft_div.clientHeight+'px';
        data = {
            draft_id: draft_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'delete_a_ramble' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)

            if (this.readyState == 4) {
                deleted_draft_div.style.opacity=0;
                setTimeout(function(){
                    deleted_draft_div.style.height=0;
                }, 1000)
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }
    function convert_post(post_id)
    {
     
        var convert_post_div = document.getElementById("post_"+post_id);
        
        data = {
            post_id: post_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'convert_a_ramble' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)

            if (this.readyState == 4) {
                console.log("Converted post to draft")
                setInterval('location.reload()', 5000);
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }

    function like_post(post_id) {
            var like_div = document.getElementById("like_" + post_id);
            if (document.getElementById("like_" + post_id).src.endsWith("{% static 'images/liked_button.png' %}")) {
                console.log("unliking...");
                document.getElementById("like_" + post_id).src = "{% static 'images/like_button.png' %}";
            }
            else {
                document.getElementById("like_" + post_id).src = "{% static 'images/liked_button.png' %}";
            }

            data = {
                post_id: post_id,
            }
            var token = '{{csrf_token}}';

            ajaxCall();


            function ajaxCall() {
                like_count_id = document.getElementById("like_count_" + post_id);

                $.ajax({
                    url: "{% url 'like_a_ramble' %}",
                    type: "POST",
                    data: { post_id: post_id },
                    headers: { "X-CSRFToken": token },
                    success: function (result) {
                        if (result.num_likes == 0) {
                            $('#' + like_count_id.id).hide();
                        } else {
                            $('#' + like_count_id.id).html(result.num_likes).show();
                        }
                    }
                });
            }


      /*  var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'like_a_ramble' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(responseText)
        {
            console.log(responseText, this.status, this.readyState);
            if (this.status == 200 && this.readyState == 4 ) { 
                var jsonstr= JSON.parse(responseText.currentTarget.responseText)
                //alert(jsonstr.num_likes)
                //$('#like_count').attr("text", jsonstr.num_likes);
                $('#like_count').text(jsonstr.num_likes);
                if (jsonstr.num_likes > 0){  
                    $("#like_count").show();
                } else { 
                    alert("IN less than 0 : ")
                    alert(jsonstr.num_likes)
                
                    $("#like_count").hide();         
                }
                $.get(location.href).then(function(page) {
                    post_title_id = "#" + "post_title_id_{{post_id}}"
                    $(post_title_id).html($(page).find(post_title_id).html())
                })
                $.get(location.href).then(function(page) {
                    $("#like_count").html($(page).find("#like_count").html())
                })

                document.getElementById("like_count").innerHTML = jsonstr.num_likes;
                
                //$("#like_count").load(location.href+" #like_count>*","");
                //$("#like_count").load("{% url 'index' %}");
           }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)
*/
    }
    function edit_post(post_id) {
        tinymce.init({
            selector: "#new_ramble_post",
            setup: function (editor) {
                editor.on('init', function (e) {
                    ajax_get("{% url 'get_post' 123456 %}".replace('123456', post_id), true, function (responseText) {
                        var jsonstr = JSON.parse(responseText)
                        editor.setContent(jsonstr.text);
                        document.getElementById("new_ramble_title").value=jsonstr.title
                        document.getElementById("new_ramble_tags").value=jsonstr.tags
                    })
                });

            }
        });
    }
    
    function hide_post(post_id)
    {
        var hide_div = document.getElementById("hide_"+post_id);
        
        var h_status;
        if (document.getElementById("hide_"+post_id).src.endsWith("{% static 'images/unhide.png' %}"))
        {
            console.log("unhiding...");
            h_status = 1;
            document.getElementById("hide_"+post_id).src = "{% static 'images/hide.png' %}";
        }
        else
        {
            console.log("hiding...");
            h_status = 0 ; 
            document.getElementById("hide_"+post_id).src = "{% static 'images/unhide.png' %}";    
        
        }

        data = {
            post_id: post_id,
            h_status: h_status,
        }

        var token = '{{csrf_token}}';

        ajaxCall();


        function ajaxCall() {

            $.ajax({
                url: "{% url 'hide_a_ramble' %}",
                type: "POST",
                data: { post_id: post_id , h_status: h_status,},
                headers: { "X-CSRFToken": token },
                success: function (result) {
                    post_id = document.getElementById("post_" + post_id);
                    if (result.hide_status == 0) {
                        $('#' + post_id.id).hide();
                    } else {
                        $('#' + post_id.id).show();
                    } 
                }
            });
        }

    }

  

    function amplify_post(post_id)
    {
        var amplify_div = document.getElementById("amplify_"+post_id);
        var amp_count = 0 ;
        if (document.getElementById("amplify_"+post_id).src.endsWith("{% static 'images/amplified_button.png' %}"))
        {
            console.log("unamplifying...");
            document.getElementById("amplify_"+post_id).src = "{% static 'images/amplify_button.png' %}";
            amp_count = 0; 
        }
        else
        {   
            document.getElementById("amplify_"+post_id).src = "{% static 'images/amplified_button.png' %}";    
            amp_count = 1;
        }
        data = {
            post_id: post_id,
            amp_count : amp_count           
        }
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "{% url 'amplify_a_ramble' %}");
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            amplify_count_id = document.getElementById("amplify_id_" + post_id);
            console.log(response, this.status, this.readyState) 
            result = JSON.parse(this.response);
            
            //setInterval('location.reload()', 2000);
            if (result.amplify_count <= 0) {
                document.getElementById("amplify_id_" + post_id).hide();
            } else {
                document.getElementById("amplify_id_" + post_id).innerHTML = result.amplify_count;
            }
            $('#amplify_div').load(document.URL +  ' #amplify_div');
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }

    function amplify_post_get(post_id) {
        $.ajax({
            url: "{% url 'amplify_a_ramble' %}",
            type: 'GET',
            data: { post_id: post_id }, 
            success: function (res) {
                console.log(res);
                if (res.amplify_count > 0 ) { 
                    document.getElementById("amplify_id_" +  post_id ).style.color = 'blue';
                    document.getElementById("amplify_id_" +  post_id ).innerHTML = res.amplify_count ;
                }
            }
        });

    }

    function follow_user(user_id)
    {
        var getId = document.getElementById("useradd_" + user_id);
        var imagePath = $('.imagePath');

        if (document.getElementById("useradd_" + user_id).src.endsWith("{% static 'images/follows.png' %}")) {
            console.log("unfollowing...");
            imagePath.attr('src', imagePath.attr('src').replace("{% static 'images/follows.png' %}", "{% static 'images/follow.png' %}"));
        }
        else {
            console.log("following...");
            imagePath.attr('src', imagePath.attr('src').replace("{% static 'images/follow.png' %}", "{% static 'images/follows.png' %}"));
        }
        data = {
            user_id: user_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'follow_a_user' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function (response) {
            console.log(response, this.status, this.readyState);
            if (response.currentTarget.response!=204 && this.status!=200) {
                if (document.getElementById("useradd_" + user_id).src.endsWith("{% static 'images/follow.png' %}")) {
                    console.log("unfollowing...");
                    imagePath.attr('src', imagePath.attr('src').replace("{% static 'images/follow.png' %}", "{% static 'images/follows.png' %}"));
                }
                else {
                    console.log("following...");
                    imagePath.attr('src', imagePath.attr('src').replace("{% static 'images/follows.png' %}", "{% static 'images/follow.png' %}"));
                }
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }

    function openModalLikes(post_id)
    {
        modalLikes.style.display = "block"
        modalLikesInner.innerHTML = "Loading..."
        ajax_get("{% url 'likes_get' 123456 %}".replace('123456', post_id) , false, function(responseText) {
            modalLikesInner.innerHTML = responseText
        })
        return false
    }

    function keypressed_collect(event) 
    {
        console.log(event)
        if (event.keyCode == 13) {
            var collection_name = document.getElementById("new_collection");
             if (collection_name.value == '' ) { 
                 collection_name.value = "Uncategorised"
             }
             data = {
                collection_name: collection_name.value,
                collection_desc: '',
            }
            var ajax = new XMLHttpRequest()
            ajax.open("POST", "{% url 'create_collection' %}")
            ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
            ajax.onreadystatechange = function(response) {
                console.log(response, this.status, this.readyState)
                if (this.readyState == 4) {
                    var json = JSON.parse(this.responseText);
                    new_button = document.createElement('button')
                    new_button.setAttribute('id', 'collection_' + json.id)
                    imgsrc = "{% static 'images/collect.png' %}"
                    imgsrcCollected = "{% static 'images/collected.png' %}"
                    new_button.innerHTML = '<img src="' + imgsrc + '" width="20px"/>' + json.name
                    colls = document.getElementById('all_collections')
                    colls.insertBefore(new_button, colls.firstChild)
                    collId = $('#modalCollectInner').children("#all_collections").children('#' + "collection_" + json.id).attr("id");
                    coll = $('#modalCollectInner').children("#all_collections").children('#' + "collection_" + json.id).children();
                    collSrc = $('#modalCollectInner').children("#all_collections").children('#' + "collection_" + json.id).children().attr("src");
                    console.log(collId);
                    console.log(collSrc);
                    $('#' + collId).on("click", function () {
                        console.log("key press colleciton click" + coll.src);
                        if (coll.attr("src").endsWith(imgsrcCollected)) {
                            console.log("un-collecting");
                            $('#modalCollectInner').children("#all_collections").children('#' + "collection_" + json.id).children().attr("src", imgsrc);
                            console.log($(coll).attr("src"));
                        } else {
                            console.log("collecting");
                            $('#modalCollectInner').children("#all_collections").children('#' + "collection_" + json.id).children().attr("src", imgsrcCollected);
                            console.log($(coll).attr("src"));
                        }
                        $.ajax({
                            complete: function () {
                                
                            }
                        });
                    });
                }
            }
            var formData = new FormData()
            for (var i in data)
                formData.append(i, data[i]);
            ajax.send(formData)
        }
    }

    function block_user(profile_user, button_block_user_id) { 
        var block_img = document.getElementById("block_"+profile_user);

        if (document.getElementById("block_"+profile_user).src.endsWith("{% static 'images/blocked_button.png' %}"))
        {
            console.log("unblocking..");
            document.getElementById("block_"+profile_user).src = "{% static 'images/block_button.png' %}";
        }
        else
        {
            document.getElementById("block_"+profile_user).src = "{% static 'images/blocked_button.png' %}";
        }

        data = {
            profile_user : profile_user
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'block_user' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)
            
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }
    function mute_user(profile_user, button_mute_user_id) { 
        var mute_img = document.getElementById("mute_"+profile_user);

        if (document.getElementById("mute_"+profile_user).src.endsWith("{% static 'images/muted_user.png' %}"))
        {
            console.log("unmuting..");
            document.getElementById("mute_"+profile_user).src = "{% static 'images/mute_user.png' %}";
        }
        else
        {
            document.getElementById("mute_"+profile_user).src = "{% static 'images/muted_user.png' %}";
        }

        data = {
            profile_user : profile_user
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'mute_user' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)
            
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    } 

    function collect_post(post_id)
    {
        modalCollect.style.display = "block"
        modalCollectInner.innerHTML = "Loading..."
        ajax_get("{% url 'mycollections' 123456 %}".replace('123456', post_id), true, function(responseText) {
            modalCollectInner.innerHTML = responseText
        })
        return false
    }

    function post_to_collection(collection_id, post_id)
    {
        user_comments = prompt("Any nice thing to say about this piece?");
        if (user_comments == null ) { 
            return false;
        }
        data = {
            collection_id: collection_id, 
            post_id: post_id, 
            user_comments: user_comments,
        }
        collId = $('#modalCollectInner').children("#all_collections").children('#'+ "each_collection_"+collection_id).children('#'+ "collection_"+collection_id).children().attr("id");
        collSrc = $('#modalCollectInner').children("#all_collections").children('#'+ "each_collection_"+collection_id).children('#'+ "collection_"+collection_id).children().attr("src");
        if (collSrc.endsWith("{% static 'images/collected.png' %}")) {
            console.log("un-collecting post_to_collection");   
            $('#modalCollectInner').children("#all_collections").children('#'+ "each_collection_"+collection_id).children('#'+ "collection_"+collection_id).children().attr("src", "{% static 'images/collect.png' %}");    
            var ajax = new XMLHttpRequest()
            ajax.open("POST", "{% url 'remove_from_collection' %}")
            ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
            ajax.onreadystatechange = function (response) {
            console.log(response, this.status, this.readyState);
            if (this.readyState == 4 && (this.status != 200 || response.target.response != 204)) {
                collId = $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("id");
                console.log("Inside post_to_collection error state - ")
                collSrc = $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("src");
                if (collSrc.endsWith("{% static 'images/collected.png' %}")) {
                    console.log("collecting error part of post_to_collection");
                    $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("src", "{% static 'images/collect.png' %}");
                } else {
                    console.log("un-collecting error part of post_to_collection");
                    $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("src", "{% static 'images/collected.png' %}");
                }
            }
        }
        } else { 
            console.log("collecting post_to_collection");     
            $('#modalCollectInner').children("#all_collections").children('#'+ "each_collection_"+collection_id).children('#'+ "collection_"+collection_id).children().attr("src",  "{% static 'images/collected.png' %}");
            var ajax = new XMLHttpRequest()
            ajax.open("POST", "{% url 'add_to_collection' %}")
            ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
            ajax.onreadystatechange = function (response) {
            console.log(response, this.status, this.readyState);
            if (this.readyState == 4 && (this.status != 200 || response.target.response != 204)) {
                collId = $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("id");
                console.log("Inside post_to_collection error state")
                collSrc = $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("src");
                if (collSrc.endsWith("{% static 'images/collect.png' %}")) {
                    console.log("collecting error part of post_to_collection");
                    $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("src", "{% static 'images/collected.png' %}");
                } else {
                    console.log("un-collecting error part of post_to_collection");
                    $('#modalCollectInner').children("#all_collections").children('#' + "each_collection_" + collection_id).children('#' + "collection_" + collection_id).children().attr("src", "{% static 'images/collect.png' %}");
                }
            }
        }
        }
        
        

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)
    }

    function click_private_collection(collection_id) {
        pri_coll_id = 'private_collection_checkbox_'+collection_id;

        if ( $('#' + 'private_collection_checkbox_'+collection_id).is(':checked') == false )  { 
            collection_status = 0 ;
        } else { 
            collection_status = 1 ;
        }
        data = {
            collection_id: collection_id, 
            collection_status: collection_status
        }
        if ( $('#' + 'private_collection_checkbox_'+collection_id).is(':checked') == false ) {        
            $('#' + 'private_collection_checkbox_' + collection_id).prop("checked", false);
        } else {
            $('#' + 'private_collection_checkbox_'+collection_id).prop( "checked", true );
        }        
        
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "{% url 'private_collections' %}")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)
            if (this.readyState == 4 && (this.status != 200)) { 
                if ($('#' + 'private_collection_checkbox_' + collection_id).is(':checked') == false) {
                    $('#' + 'private_collection_checkbox_' + collection_id).prop("checked", true);
                } else {
                    $('#' + 'private_collection_checkbox_' + collection_id).prop("checked", false);
                }
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)
    }
    

    function ajax_get(url, add_csrf, callback)
    {
        var ajax = new XMLHttpRequest()
        ajax.open("GET", url)
        if (add_csrf) 
        {
            ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        }
        ajax.onreadystatechange = function(response)
        {
            if (this.readyState==4) 
            {
                callback(this.responseText)
            }
        }
        ajax.send()
    }


    </script>
    </head>
<body style="margin:0">

<div class="header">
    <nav class="navbar navbar-light navbar-1 white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#""></a>
            <div class="dropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="navbar-toggler-icon"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/your_stories">Your Stories</a></li>
                            <li><a class="dropdown-item" href="/u/{{ user.id }}">Your Profile</a></li>
                            <li><a class="dropdown-item" href="/messages/">Your Messages</a></li>
                            <li><a class="dropdown-item" href="/activity/">Your Notifications</a></li>
                            <li><a class="dropdown-item" href="/editor_page">Write a Post</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <a href="{% url 'index' %}">
            <img class="headerimg" src="{% static 'images/fleuron_header_reverse_transparent.png' %}" width=300px"
                 style="margin-right:5px;margin-top:5px;background-color:#fcfcfc"/>
    </a>     
    {% if user.username %}
    <div style="text-align:right; font-size:small">
        <form method="POST" action="{% url 'search_results' %}">
            {% csrf_token %}
            <input class="search" type="text" name="search_ramble" placeholder="Search Ramble">
        </form>
    </div>
    {% endif %}
</div>
   
    <div style="float: right; font-size: small;">
        {% if user.username %}
            <p>
        {% if user_profile.full_name %}
                    Hello <a href="/u/{{ user.id }}"> {{ user_profile.full_name }}! </a>
                {% else %}
                    Hello <a href="/u/{{ user.id }}"> {{ user.username }}! </a> 
                {% endif %}
                &nbsp; &nbsp;
                <img src="{{ user_profile.profile_pic.url }}" width="20px"/>
                <a href="{% url 'logout' %}"><button style="font-size:small">Logout</button></a>
             </p>
        
        </div>
    {% else %}

  
    <form action="{% url 'magiclink:login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
        {% csrf_token %}
        {{ login_form }}
        <button type='submit'>Send login email</button>
    </form>
    {% endif      %}
    
         
    </div>
    <!-- <table>
        <tr>
            <td>
                <a href="{% url 'index' %}">
                        <img class="headerimg" src="{% static 'images/fleuron_header_reverse_transparent.png' %}" width=300px"
                             style="margin-right:5px;margin-top:5px;background-color:#fcfcfc"/>
                </a>
            </td>
            <td style="text-align:right">
                {% if user.username %}
                    <div style="text-align:right; font-size:small">
                        <p>
			 {% if user_profile.full_name %}
                                Hello <a href="../u/{{ user.id }}"> {{ user_profile.full_name }}! </a>
                            {% else %}
                                Hello <a href="../u/{{ user.id }}"> {{ user.username }}! </a> 
                            {% endif %}
                            &nbsp; &nbsp;
                            <img src="{{ user_profile.profile_pic.url }}" width="20px"/>
                            <a href="{% url 'logout' %}"><button style="font-size:small">Logout</button></a>
                         </p>
                    </div>
                {% else %}
                    <a href="{% url 'social:begin' 'twitter' %}">
                        <Button style="padding:10px;font-size:20px">
                            <img src="{% static 'images/twitter_white.png' %}" width="18px" height="18px">
                            &nbsp Login with Twitter
                        </Button>
                    </a>
                {% endif %}
            </td>
        </tr>
    </table> -->
</div>
{% if user.is_authenticated %}
{% block postman_menu %}
{% endblock %}
{% block content %}

{% endblock %}

{% block javascript %}
{% endblock %}


</div>
{% endif %}

<div class="container" id=modalLikes onclick="if (event.target==this) {this.style.display='none'}" style="display:none;position:fixed;top:0;height:100vh;left:0;width:100vw;
background:rgba(100,100,100,0.5);">
    <div id=modalLikesInner style="position:fixed;top:30vh;height:40vh;left:30vw;width:40vw;
background:white;box-shadow:1px 1px 10px #888; border-radius:8px;overflow-y:scroll">
    </div>
</div>
<div class="container" id=modalCollect onclick="if (event.target==this) {this.style.display='none'}" style="display:none;position:fixed;top:0;height:100vh;left:0;width:100vw;
background:rgba(100,100,100,0.5);">
    <div id=modalCollectInner style="position:fixed;top:30vh;height:40vh;left:30vw;width:40vw;
background:white;box-shadow:1px 1px 10px #888; border-radius:8px;overflow-y:scroll">
    </div>
</div>
</div>
<div class="footer">
    <div style="float: right ;padding-right: 20px; margin-top: 20px; position: relative;
 ; bottom: 0px; right: 0px">
        <a href="{% url 'contact_us' %}" style="color: black;"><i class="fa fa-envelope" style="color: black;"></i> Contact</a> 
    </div>   
</div>
 <!-- Modal -->
 <div class="modal fade" id="rambleModal" tabindex="-1" aria-labelledby="new_ramble_title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Write your Story</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% csrf_token %}
          <form id="rambleForm" method="post" action="submit_ramble()">
            <label for="new_ramble_title" class="col-form-label" maxlength="100">Title:</label>
            <input type="text" class="form-control" id="new_ramble_title">
            <textarea id="content" name="content"></textarea>
            <input type="text" id="new_ramble_tags" name="new_ramble_tags" maxlength="40" placeholder="Uncategorized"
            style="width:100%">
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="handleSave()">Publish</button>
        </div>
      </div>
    </div>
  </div>
</html>