{% load static %}

<div style='padding:20px'>
    	<img src="{% static 'images/follow.png' %}" width="20px"/> <input type=text id="new_collection" placeholder="Add new collection" onkeypress="keypressed_collect(event)"> 
</div>
<div id='all_collections'>
	{% for collection  in collections %}
	<div id="each_collection_{{collection.pk}}">
		<button id="collection_{{collection.pk}}" onclick='post_to_collection("{{collection.pk}}", "{{post_id}}")'>
			{% if relevant_collections and collection.pk in relevant_collections %}
                <img id="collection_post_({{ collection.pk }})" src="{% static 'images/collected.png' %}" width="12px" height="12px"> {{ collection.collection_name }}
				{% else %}
                <img id="collection_post_({{ collection.pk }})" src="{% static 'images/collect.png' %}" width="20px"/> {{ collection.collection_name }}
				{% endif %}
		</button>
		{%if collection.collection_status %} 
		<input type="checkbox" id="private_collection_checkbox_{{collection.pk}}" name="private" onclick='click_private_collection("{{collection.pk}}")' value="Private Collection" checked>
		<label for="private_collection_checkbox_{{collection.pk}}">Click if Private</label><br>
		{% else %}
		<input type="checkbox" id="private_collection_checkbox_{{collection.pk}}" name="private" onclick='click_private_collection("{{collection.pk}}")' value="Private Collection">
		<label for="private_collection_checkbox_{{collection.pk}}">Click if Private</label><br>
		{% endif %}
	</div>
	{% endfor %}
</div>
