{% extends './base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
    src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
    referrerpolicy="origin">
</script> <!-- SRM -->

 <style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #aaa;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #aaa;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #20B2AA;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

<!--<a href="{% url 'load_draft' %}">Load Drafts</a>-->

   

    <div class="tab">
        <button class="tablinks" onclick="openPost(event, 'published')">Published</button>
       <!-- <button class="tablinks" onclick="openPost(event, 'drafts')">Drafts</button>
        <button class="tablinks" onclick="openPost(event, 'collections')">Public Collections</button> 
        <button class="tablinks" onclick="openPost(event, 'private')">Private</button> -->
    </div>
      
      <div id="published" class="tabcontent">
            {% for post, num_likes in posts_and_likes %}       
            {% if amplify_posts %}
              {% include "./display_post.html" %}
            {% endif %}
            {% endfor %}
          </div>
      
      <div id="drafts" class="tabcontent">
        {% for draft, num_likes in drafts_and_likes %}
            {% include "./display_draft.html" %}
            {% endfor %}
      </div>
      
      <!-- SRM Show Collections on TL -->
      <div id="collections" class="tabcontent">
        {% for post in all_collection_posts %}
          <a href="collection/{{ post.collection_id.id  }}">{{ post.collection_id.collection_name }}</a>
          <br>
        {% endfor %}
      </div>
       <!-- SRM Show Collections on TL -->    
      

      <!-- SRM Private Collections on TL -->
      <div id="private" class="tabcontent">
        {% for collection in private_collections %}
        {% if request.user == collection.user_id %}
          <a href="collection/{{ collection.id }}">{{ collection.collection_name }}</a>
        {% else %}
          <h3> ERROR - user {{request.user }} not allowed to view this collection {{collection.collection_name}}.</h3>
        {% endif %}
        {% endfor %}
      </div>
      <!-- SRM Private Collections on TL -->

     <script>
        function openPost(evt, posttype) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(posttype).style.display = "block";
          evt.currentTarget.className += " active";
        }
        </script>

{% endblock %}
