{% extends './base.html' %}
{% block content %}
{% load static %}

<script>
    $(".nav li .nav-link").on("click", function(){
        $("#userDetails").find(".active").removeClass("active");
        $(this).addClass("active");
    });
</script>

{% if profile_user %}
    <div align="center">
        <img src="{{ profile_user_profile.profile_pic.url }}" width="200px"/>
        <a class="btn btn-primary" href="{% url 'edit_your_profile'%}">Edit your Profile</a>


        <p>{{ profile_user_profile.full_name }} (@{{ profile_user.username}})</p>
        <p> {{ profile_user_profile.bio }}</p>
    </div>
    <div id="userDetails" class="container" style="display: flex; justify-content: center; align-items: center;">
    	<ul class="nav nav-pills">
    			<li class="nav-item">
    				<a class="nav-link" aria-current="page" href="/u/{{ user.id}}/likes">Likes</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link" href="/u/{{ user.id}}/follows" >Follows</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link" href="/u/{{ user.id}}/followers" >Followers</a>
                </li>
                <li class="nav-item">
    				<a class="nav-link" href="/u/{{ user.id}}/collections" >Collections</a>
    			</li>
            </ul>
    </div>
    <div align="center">
    <button id="button_block_user_id" onclick="block_user({{ profile_user.pk }}, button_block_user_id)" class="iconbutton" style="margin-left:5px;padding:2px">
        {% if blocked %}
            <img id="block_{{profile_user.pk}}" src="{% static 'images/blocked_button.png' %}" width="12px" height="12px">
        {% else %}
            <img id="block_{{profile_user.pk}}" src="{% static 'images/block_button.png' %}" width="12px" height="12px">
        {% endif %}
    </button>
    <button id="button_mute_user_id" onclick="mute_user({{ profile_user.pk }}, button_mute_user_id)" class="iconbutton" style="margin-left:5px;padding:2px">
        {% if muted %}
            <img id="mute_{{profile_user.pk}}" src="{% static 'images/muted_user.png' %}" width="12px" height="12px">
        {% else %}
            <img id="mute_{{profile_user.pk}}" src="{% static 'images/mute_user.png' %}" width="12px" height="12px">
        {% endif %}
    </button>
    </div>
{% else %}
    <p> 404 User Not Found</p>
{% endif %}

	{% block subcontent %}
	{% endblock subcontent %}

{% endblock %}
