{% extends './base.html' %}
{% include 'actstream/base.html' %}

{% load activity_tags i18n %}

{% block content %}
{% load static %}

<script>
    $(".nav li .nav-link").on("click", function(){
        $("#userDetails").find(".active").removeClass("active");
        $(this).addClass("active");
    });
</script>

{% if profile_user %}
<div style="float: left; width: 25%; ">
    <div style="margin-left: 10px;"">
        <img src=" {{ profile_user_profile.profile_pic.url }}" width="200px" />
    <a class="btn btn-primary" href="{% url 'edit_your_profile'%}">Edit your Profile</a>


    <p>{{ profile_user_profile.full_name }} (@{{ profile_user.username}})</p>
    <p> {{ profile_user_profile.bio }}</p>
</div>
<div style="margin-left: 10px; padding-bottom: 10px;">
    <a class="btn btn-primary" href="{% url  'postman:write' profile_user.username %}">Send Message </a>
</div>

<div id="userDetails" class="container">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" id="id1" onclick="active('id1')" aria-current="page"
                href="/u/{{ user.id}}/likes">Likes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="id2" onclick="active('id2')" href="/u/{{ user.id}}/follows">Follows</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="id3" onclick="active('id3')" href="/u/{{ user.id}}/followers">Followers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="id4" onclick="active('id4')" href="/u/{{ user.id}}/collections">Collections</a>
        </li>
    </ul>
    <div>
        <button id="button_block_user_id" onclick="block_user({{ profile_user.pk }}, button_block_user_id)"
            class="iconbutton" style="margin-left:5px;padding:2px">
            {% if blocked %}
            <img id="block_{{profile_user.pk}}" src="{% static 'images/blocked_button.png' %}" width="12px"
                height="12px">
            {% else %}
            <img id="block_{{profile_user.pk}}" src="{% static 'images/block_button.png' %}" width="12px" height="12px">
            {% endif %}
        </button>
        <button id="button_mute_user_id" onclick="mute_user({{ profile_user.pk }}, button_mute_user_id)"
         class="iconbutton" style="margin-left:5px;padding:2px">
            {% if muted %}
            <img id="mute_{{profile_user.pk}}" src="{% static 'images/muted_user.png' %}" width="12px" height="12px">
            {% else %}
            <img id="mute_{{profile_user.pk}}" src="{% static 'images/mute_user.png' %}" width="12px" height="12px">
            {% endif %}
        </button>
    </div>
    <div style="margin-left: 10px; padding-top: 10px;">
        <a class="btn btn-primary" href="{% actor_url profile_user %}">{{profile_user.username}}'s Activity' </a>
    </div>
    
</div>
</div>
<script>
    function check_storage() {
    //check if there is any value in localStorage
if (localStorage.getItem("listId") != null) {
    //get that value
    var val= localStorage.getItem("listId");
    console.log(val);
    setActive(val); //call function
     }
     }
check_storage();
 function active(id) {
localStorage.removeItem('listId');//clear previous data
localStorage.setItem("listId", id);//add data to storage
console.log(id);
      }

 function setActive(value) {
document.getElementById(value).classList.value = "list-group-item  active";
    }
</script>
    {% else %}
    <p> 404 User Not Found</p>
{% endif %}

	{% block subcontent %}
	{% endblock subcontent %}

{% endblock %}
